In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from apyori import apriori

In [4]:
dataset = pd.read_csv('Sujet/bank-data.csv')
dataset

,id,age,sex,region,income,married,children,car,save_act,current_act,mortgage,pep
0,ID12101,48,FEMALE,INNER_CITY,17546.00,NO,1,NO,NO,NO,NO,YES
1,ID12102,40,MALE,TOWN,30085.10,YES,3,YES,NO,YES,YES,NO
2,ID12103,51,FEMALE,INNER_CITY,16575.40,YES,0,YES,YES,YES,NO,NO
3,ID12104,23,FEMALE,TOWN,20375.40,YES,3,NO,NO,YES,NO,NO
4,ID12105,57,FEMALE,RURAL,50576.30,YES,0,NO,YES,NO,NO,NO
...,...,...,...,...,...,...,...,...,...,...,...,...
595,ID12696,61,FEMALE,INNER_CITY,47025.00,NO,2,YES,YES,YES,YES,NO
596,ID12697,30,FEMALE,INNER_CITY,9672.25,YES,0,YES,YES,YES,NO,NO
597,ID12698,31,FEMALE,TOWN,15976.30,YES,0,YES,YES,NO,NO,YES
598,ID12699,29,MALE,INNER_CITY,14711.80,YES,0,NO,YES,NO,YES,NO
599,ID12700,38,MALE,TOWN,26671.60,NO,0,YES,NO,YES,YES,YES

In [22]:
epargnant_pep = dataset[((dataset['pep'] == "YES") & (dataset['mortgage'] == "NO")) ]
epargnant_mortgage = dataset[((dataset['pep'] == "NO") & (dataset['mortgage'] == "YES"))]
epargnant_both =dataset[((dataset['pep'] == "YES") & (dataset['mortgage'] == "YES"))]
non_epargnant = dataset[((dataset['pep'] == "NO") & (dataset['mortgage'] == "NO")) ]
epargnant = pd.concat([epargnant_pep, epargnant_mortgage, epargnant_both])

In [23]:
non_epargnant

,id,age,sex,region,income,married,children,car,save_act,current_act,mortgage,pep
2,ID12103,51,FEMALE,INNER_CITY,16575.40,YES,0,YES,YES,YES,NO,NO
3,ID12104,23,FEMALE,TOWN,20375.40,YES,3,NO,NO,YES,NO,NO
4,ID12105,57,FEMALE,RURAL,50576.30,YES,0,NO,YES,NO,NO,NO
7,ID12108,58,MALE,TOWN,24946.60,YES,0,YES,YES,YES,NO,NO
8,ID12109,37,FEMALE,SUBURBAN,25304.30,YES,2,YES,NO,NO,NO,NO
...,...,...,...,...,...,...,...,...,...,...,...,...
588,ID12689,58,MALE,RURAL,49673.60,YES,0,NO,YES,YES,NO,NO
589,ID12690,29,MALE,SUBURBAN,12623.40,YES,1,YES,YES,YES,NO,NO
590,ID12691,25,MALE,INNER_CITY,23818.60,YES,0,NO,NO,NO,NO,NO
592,ID12693,48,MALE,TOWN,20268.00,YES,0,NO,YES,YES,NO,NO
596,ID12697,30,FEMALE,INNER_CITY,9672.25,YES,0,YES,YES,YES,NO,NO